<div id="<%= dom_id profile %>">
  <p>
    <strong>Name:</strong>
    <%= profile.name %>
  </p>

  <p>
    <strong>Youtube:</strong>
    <%= profile.youtube %>
  </p>

  <p>
    <strong>Linkedin:</strong>
    <%= profile.linkedin %>
  </p>

  <p>
    <strong>X:</strong>
    <%= profile.x %>
  </p>

  <p>
    <strong>Instagram:</strong>
    <%= profile.instagram %>
  </p>

</div>
